html
  head
    meta(http-equiv="refresh" content="0; url = ")
    meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
    meta(content=color data-react-helmet="true" name="theme-color")
    meta(name="twitter:card" content="player")
    meta(name="twitter:title" content=username)
    meta(name="twitter:image" content=image)
    meta(name="twitter:player:width" content="720")
    meta(name="twitter:player:height" content="480")
    meta(name="twitter:player:stream" content=video)
    meta(name="twitter:player:stream:content_type" content="video/mp4")
    meta(property="og:site_name" content="Embeds by Becky")
    meta(property="og:url" content="")
    meta(property="og:video" content=video)
    meta(property="og:video:secure_url" content=video)
    meta(property="og:video:type" content="video/mp4")
    meta(property="og:video:width" content="720")
    meta(property="og:video:height" content="480")
    meta(property="og:title" content=username)
    meta(property="og:image" content=image)
